<p id="notice"><%= notice %></p>

<p>
  <strong>Checkin:</strong>
</p>

<p>
  <strong>Checkout:</strong>
  <%= @presence.checkout %>
</p>

<%= render 'checkout', presence: @presence %>

<%= link_to 'Edit', edit_presence_path(@presence) %> |
<%= link_to 'Back', presences_path %>
