<style>
  .avtar {
    float: left;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }

  .sub {
    margin-left: 400px;
  }
</style>
<div class="profile">
<legend>
<% if @student.avatar.attached? %>
    <%= image_tag url_for(@student.avatar.variant(resize:"200x200")), class: "avtar"%>
<% end %>
<div>
<br>
<br>
<h2><%= @student.firstname %>  <%= @student.lastname %></h2>
<br>
<br>
<br>
<div style="float: left;">
<div class="form-group">
    <label for="exampleFormControlInput1">Nis</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="<%= @student.nis %> ">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="<%= @student.email %> ">
    <label for="exampleFormControlInput1">Major</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="<%= @student.major.name %> ">
    <label for="exampleFormControlInput1">School</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="<%= @student.school %> ">
    <label for="exampleFormControlInput1">Phone</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="<%= @student.phone %> ">
  </div>
</div>
<div class="form-group">
   <label for="exampleFormControlInput1 list-data">Address</label>
    &nbsp;&nbsp; &nbsp; &nbsp;<input type="email" class="form-control sub" id="exampleFormControlInput1 list-data" placeholder="<%= @student.address %> " style = "width:400px; margin-left:400px;">
    <label for="exampleFormControlInput1 list-data">City</label>
    <input type="email" class="form-control sub" id="exampleFormControlInput1 list-data" placeholder="<%= @student.city %> " style = "width:400px; margin-left:400px;">
    <label for="exampleFormControlInput1 list-data">Province</label>
    <input type="email" class="form-control sub" id="exampleFormControlInput1 list-data" placeholder="<%= @student.province %> " style = "width:400px; margin-left:400px;"> <label for="exampleFormControlInput1 list-data">Zipcode</label>
    <input type="email" class="form-control sub" id="exampleFormControlInput1 list-data" placeholder="<%= @student.zipcode %> " style = "width:400px; margin-left:400px;"> <label for="exampleFormControlInput1 list-data">Province</label>
    <input type="email" class="form-control sub" id="exampleFormControlInput1 list-data" placeholder="<%= @student.province %> " style = "width:400px; margin-left:400px;">
    </div>
</div>
</legend>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-7">
       <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%= @student.firstname %>  <%= @student.lastname %></h2>
                    <p><strong>Nis: </strong> <%= @student.nis %> </p>
                    <p><strong>Major: </strong> <%= @student.major.name%> </p>
                    <p><strong>School: </strong> <%= @student.school %> </p>
                    <p><strong>Phone: </strong> <%= @student.phone %> </p>
                    <p><strong>Address: </strong> <%= @student.address %> </p>
                    <p><strong>City: </strong> <%= @student.city %> </p>
                    <p><strong>Province: </strong> <%= @student.province %> </p>
                    <p><strong>Zipcode: </strong> <%= @student.zipcode %> </p>
                    <p><strong>Periode: </strong> <%= @student.periode %> </p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <% if @student.avatar.attached? %>
                            <%= image_tag url_for(@student.avatar.variant(resize:"170x170")), class: "avatar"%>
                        <% end %>
                        <figcaption class="ratings">
                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

                                <div class="field">
                                  <%= f.label :avatar %><br />
                                  <%= f.hidden_field :avatar, value: f.object.avatar.signed_id if @student.avatar.attached? %>
                                  <%= f.file_field :avatar %>
                                </div>

                                 <div class="actions">
                                    <%= f.submit "Update" %>
                                  </div>

                            <% end %>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-12 divider text-center">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- <div class="field">
    <%= f.label :avatar %><br />
    <%= f.hidden_field :avatar, value: f.object.avatar.signed_id if @student.avatar.attached? %>
    <%= f.file_field :avatar %>
  </div> -->

  <div class="field" hidden="">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
            </div>
       </div>
    </div>
  </div>
</div>