<style>
  .photoprofile {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }

  .rigth {
    margin-left: 200px;
    width:400px;
  }

  .subtitle {
    margin-left: 10px;
  }

  .data-left {
    width: 400px;
  }
  .barisan-data {
    float: left;
  }
</style>
<center>
<div class="profile">
  <% if @student.avatar.attached? %>
      <%= image_tag url_for(@student.avatar.variant(resize:"200x200")), class: "photoprofile"%>
  <% end %>
<div>

  <br><br>
<h2><%= @student.firstname %>  <%= @student.lastname %></h2>
<br>

<div style="margin-left: 100px;">
  <div class="barisan-data" style="float: left;">

    <div class="form-group">
      <label for="exampleFormControlInput1">Nis</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= @student.nis %> " readonly>
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= @student.email %> " readonly>
      <label for="exampleFormControlInput1">Major</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= @student.major.name %> " readonly>
      <label for="exampleFormControlInput1">School</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= @student.school %> " readonly>
      <label for="exampleFormControlInput1">Phone</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= @student.phone %> " readonly>
      <label for="exampleFormControlInput1">Emergency Call</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= @student.emergency_number %> " readonly>
      <label for="exampleFormControlInput1">Fathers Name</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= @student.fathers_name %> " readonly>
    </div>

  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1" class="subtitle">Mothers Name</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1 " placeholder="<%= @student.mothers_name %> " readonly>
      <label for="exampleFormControlInput1" class="subtitle">Address</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1" placeholder="<%= @student.address %> " readonly>
      <label for="exampleFormControlInput1" class="subtitle">City</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1 " placeholder="<%= @student.city %> " readonly>
      <label for="exampleFormControlInput1" class="subtitle">Province</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1" placeholder="<%= @student.province %> " readonly>
      <label for="exampleFormControlInput1" class="subtitle">Zipcode</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1" placeholder="<%= @student.zipcode %> " readonly>
      <label for="exampleFormControlInput1" class="subtitle">Province</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1 " placeholder="<%= @student.province %> " readonly>
  </div>
  </div>
</div>
</div>
</center>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-7">
       <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <figcaption class="ratings">

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-12 divider text-center">

<div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.hidden_field :avatar, value: f.object.avatar.signed_id if @student.avatar.attached? %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field" hidden="">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
</div>
            </div>
       </div>
    </div>
  </div>
</div>