<style>
  .photoprofile {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    width: 300px;
    height: 300px;
    margin-left: 140px;
  }

  .rigth {
    margin-left: 200px;
    width:400px;
  }

  .subtitle {
    margin-left: 10px;
  }

  .data-left {
    width: 400px;
  }
  .barisan-data {
    float: left;
  }
</style>

<section class="hero-section spad">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero-text">
                <p><%= current_student.firstname %><%= current_student.lastname %></p>
              </div>
              <div class="hero-info">
                <h2>General Info</h2>
                <ul>
                  <li><span>Date of Birth</span>Aug 25, 1988</li>
                  <li><span>Address</span>Rosia Road 55, Gibraltar, UK</li>
                  <li><span>E-mail</span>mariawilliams@company.com</li>
                  <li><span>Phone </span>+43 5266 22 345</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <figure class="hero-image">
                <% if current_student.avatar.attached? %>
      <%= image_tag url_for(current_student.avatar), class: "photoprofile", alt: "5"%>
  <% end %>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<center>
<div class="profile">
  <% if current_student.avatar.attached? %>
      <%= image_tag url_for(current_student.avatar), class: "photoprofile"%>
  <% end %>
<div>

  <br><br>
<h2><%= current_student.firstname %>  <%= current_student.lastname %></h2>
<br>

<div style="margin-left: 100px;">
  <div class="barisan-data" style="float: left;">

    <div class="form-group">
      <label for="exampleFormControlInput1">Nis</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= current_student.nis %> " readonly>
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= current_student.email %> " readonly>
      <label for="exampleFormControlInput1">Major</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= current_student.major.name %> " readonly>
      <label for="exampleFormControlInput1">School</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= current_student.school %> " readonly>
      <label for="exampleFormControlInput1">Phone</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= current_student.phone %> " readonly>
      <label for="exampleFormControlInput1">Emergency Call</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= current_student.emergency_number %> " readonly>
      <label for="exampleFormControlInput1">Fathers Name</label>
      <input type="email" class="form-control data-left" id="exampleFormControlInput1" placeholder="<%= current_student.fathers_name %> " readonly>
    </div>

  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1" class="subtitle">Mothers Name</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1 " placeholder="<%= current_student.mothers_name %> " readonly>
      <label for="exampleFormControlInput1" class="subtitle">Address</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1" placeholder="<%= current_student.address %> " readonly>
      <label for="exampleFormControlInput1" class="subtitle">City</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1 " placeholder="<%= current_student.city %> " readonly>
      <label for="exampleFormControlInput1" class="subtitle">Province</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1" placeholder="<%= current_student.province %> " readonly>
      <label for="exampleFormControlInput1" class="subtitle">Zipcode</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1" placeholder="<%= current_student.zipcode %> " readonly>
      <label for="exampleFormControlInput1" class="subtitle">Province</label>
      <input type="email" class="form-control rigth" id="exampleFormControlInput1 " placeholder="<%= current_student.province %> " readonly>
  </div>
  </div>
</div>
</div>
</center>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-7">
       <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <figcaption class="ratings">

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xs-12 divider text-center">

<div>